*{
  margin:0;
}
html{
  height: 100%;
  width: 100%;
}
body {
    // min-height: 100vh;
    width: 100%;
    height: 100%;
}
/*.wrapper {
    width: 370px;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 0 150px #031f40;
    margin: 1em auto;
    margin: calc(50vh - 250px) auto;
    position: relative;
}*/
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 150px #031f40;
    // margin: 1em auto;
    // margin: calc(50vh - 250px) auto;
    position: relative;
}
.title{
  position: absolute;
  z-index: 100;
  color: white;
  top: 100px;
  width: 100%;
  text-align: center
}
.zhongqiu{
  //  - webkit - animation: neon3 1.5s ease - in-out infinite alternate;
  //  - moz - animation: neon3 1.5s ease - in-out infinite alternate;
    // animation: neon3 1.5s ease - in-out infinite alternate;
    // text-shadow: 0 0 5px#fff,
    // 0 0 25px#ffdd1b;
     text-shadow: 1px 1px rgba(194, 248, 255, 0.8), 2px 2px rgba(116, 121, 23, 0.8), 3px 3px rgba(197,223,248,0.8), 4px 4px rgba(197,223,248,0.8), 5px 5px rgba(197,223,248,0.8), 6px 6px rgba(78, 195, 228, 0.8);
    // color:rgb(253,237,76);

}
@keyframes neon3 {
    from {
        text-shadow: 0 0 10px#fff,
        0 0 20px#fff,
        0 0 30px#fff,
        0 0 40px#ffdd1b,
        0 0 70px#ffdd1b,
        0 0 80px#ffdd1b,
        0 0 100px#ffdd1b,
        0 0 150px#ffdd1b
    }
    to {
        text-shadow: 0 0 5px#fff,
        0 0 10px#fff,
        0 0 15px#fff,
        0 0 20px#ffdd1b,
        0 0 35px#ffdd1b,
        0 0 40px#ffdd1b,
        0 0 50px#ffdd1b,
        0 0 75px#ffdd1b
    }
}
.title>h1{
  font-size:20vw;
}
.title>h2{
  opacity: 0.5;
  font-size: 3.5vw;
}
.light_wrapper{
  position: absolute;
  z-index: 100;
  bottom:0px;
}
.light_wrapper_1{
  animation: fly1 10s linear infinite;
  img{
    width: 10vw;
  }
}
@keyframes fly1 {
  0%{
    transform: translate3d(0,0, 0);
  }
  100%{
    transform: translate3d(25vw,-100vh, 0);
  }
}
.light_wrapper_2{
  animation: fly2 13s linear infinite;
  img{
    width: 5vw;
  }
}
@keyframes fly2 {
  0%{
    transform: translate3d(0,0, 0);
  }
  100%{
    transform: translate3d(50vw,-100vh, 0);
  }
}
.light_wrapper_3{
  right: 0;
  animation: fly3 12s linear infinite;
  img{
    width: 5vw;
  }
}
@keyframes fly3 {
  0%{
    transform: translate3d(0,0, 0);
  }
  100%{
    transform: translate3d(-25vw,-100vh, 0);
  }
}
.light_wrapper_4{
  right: 0;
  animation: fly4 11s linear infinite;
  img{
    width: 10vw;
  }
}
@keyframes fly4 {
  0%{
    transform: translate3d(0,0, 0);
  }
  100%{
    transform: translate3d(-50vw,-100vh, 0);
  }
}
.animal_1{
  position: absolute;
  z-index: 100;
  bottom:5vh;
  left: -5vh;
  width: 50vw;
  opacity: 0;
  img{
    width: 100%;
  }
  animation: run_1 6s 2s ease-out infinite;
}
@keyframes run_1 {
  0%{
    transform: translate3d(0,0,0);
  }
  10%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  100%{
    transform: translate3d(50vw,-15vh,0) rotateZ(-8deg) rotateY(75deg) scale(0.1);
    // width: 10vw;
    opacity: 0.5;
  }
}
.animal_2{
  position: absolute;
  z-index: 100;
  bottom:3vh;
  right: -18vh;
  width: 50vw;
  opacity: 0;
  img{
    width: 100%;
  }
  transform: translate3d(0,0,10deg);
  animation: run_2 6s 4s ease-out infinite;
}
@keyframes run_2 {
  0%{
    transform: translate3d(0,0,0);
  }
  10%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  100%{
    transform: translate3d(-100vw,-15vh,0) rotateZ(-8deg) rotateY(75deg) scale(0.1);
    // width: 10vw;
    opacity: 0.5;
  }
}
footer{
  font-size: 5px;
  position: absolute;
  z-index: 100;
  color: white;
  bottom: 0px;
  margin: 20px 0;
  width: 100%;
  opacity: 0.5;
  text-align: center;
}
svg {
    background: #031f40;
    position: relative;
    // left: -20px;
}
