*{
  box-sizing: border-box;
}
html {
    font-size: 16px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
   width: 100%;
   height: 100%;
   overflow: hidden;
}
@media screen and (min-width: 375px) {
    html {
        /* iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
        font-size: calc(100% + 2 * (100vw - 375px) / 39);
        font-size: calc(16px + 2 * (100vw - 375px) / 39);
    }
}
@media screen and (min-width: 414px) {
    html {
        /* 414px-1000px每100像素宽字体增加1px(18px-22px) */
        font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
        font-size: calc(18px + 4 * (100vw - 414px) / 586);
    }
}
@media screen and (min-width: 600px) {
    html {
        /* 600px-1000px每100像素宽字体增加1px(20px-24px) */
        font-size: calc(125% + 4 * (100vw - 600px) / 400);
        font-size: calc(20px + 4 * (100vw - 600px) / 400);
    }
}
@media screen and (min-width: 1000px) {
    html {
        /* 1000px往后是每100像素0.5px增加 */
        font-size: calc(137.5% + 6 * (100vw - 1000px) / 1000);
        font-size: calc(22px + 6 * (100vw - 1000px) / 1000);
    }
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td
{
margin:0;padding:0;
}
table /* 设置table 的样式*/
{
border-collapse:collapse;
border-spacing:0;
}
fieldset, img
{
border:0;
}
em, strong
{
font-style:normal;
font-weight:normal;
}
li
{
list-style:none;
}
h1, h2, h3, h4, h5, h6
{
font-size:100%;
font-weight:normal;
}
body, input, button, textarea
{
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
}
a{ text-decoration:none;outline:none;}
th, td{vertical-align:top;}
